

<div class="fullSplash">
    <div class="scrollAuto">
        <div class="SplashTheme brandLogo">
            <div class="row">
                <div class="col-md-6" style="margin: 0; padding: 0">
                    <img src="resources/Images/Manulife.png" class="manulifelogo">
                </div>
                <div class="col-md-1 divider"></div>
                <div class="col-md-5" style="margin: 0; padding: 0">
                    <img src="resources/Images/JohnHancock.png" class="johnhancocklogo">
                </div>
            </div>
        </div>

        <div class="SplashTheme User">
            Hi {{user.userName}}.
        </div>
        <div class="SplashTheme Workplace">
            Welcome to Workplace
        </div>
        <div class="SplashTheme authorized">
            You are <span *ngIf="!user.isAuthenticated"> not </span> authorized to use this application
        </div>

        <div class="SplashTheme buttondiv" *ngIf="user.isAuthenticated">
            <diV class="Button">
                <a (click)="changeView()" >
                    <div class="ButtonDesign">ENTER</div>
                </a>
            <div>
        </div>
    </diV>
</div>
<!--welcome

<a (click)="changeView()">click here to proceed</a>-->
