
<div class="panel panel-default">
  <div class="panel-heading">Panel Heading</div>
  <div class="panel-body">
        
    
  </div>
  <br />
</div>
<!--
<input type="radio" [ngModel]="{checked: sample == 'male'}" (ngModelChange)="sample='male'"  name="sex" value="male" />Male<br>
<input type="radio" [ngModel]="{checked:sample == 'female'}"(ngModelChange)="sample='female'" name="sex" value="female" />Female

{{sample}}-->


  <md-radio-group class="quiz-radio-group" [(ngModel)]="favoriteSeason">
      <md-radio-button class="quiz-radio-button" *ngFor="let season of seasons" [value]="season">
        {{season}}
      </md-radio-button>
     
    </md-radio-group>
  <div class="quiz-selected-value">Your favorite season is: {{favoriteSeason}}</div>
