<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li *ngFor="let bc of breadcrumbs">{{bc}}</li>
        </ol>
    </div>
</div>

<div class="text-center"  style="box-shadow: 0px 2px 2px 2px #888888;">
    <carousel [interval]="10000" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex">
        <slide *ngFor="let slide of slides">
            <img [src]="slide.image">
            
            <div [hidden]="slides.length == 1" class="carousel-caption" style="background-color:grey">            
                {{activeSlideIndex+1}} of {{slides.length}}
            </div>
        </slide>
    </carousel>  
</div>