body {
    background: #f1f1f1;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.navbar-right{
    margin-right: 5px;
}
.navbar-green {
    background: #418173; /*002d5b*/
    color: #ffffff;
}
.navbar-green .container-fluid {
    background: #418173; /*002d5b*/
    color: #ffffff;
}
.navbar-green a {
    color: #ffffff;
}
.navbar-green .navbar-header {
    width: 195px;
    text-align: center;
}
.navbar-green .navbar-brand {
     font-size: 15px;
}
.navbar-green .navbar-brand:hover,
.navbar-green .navbar-brand:focus {
    transition: all 0.3s;
    color: #9f9f9f;
    background-color: transparent;
}
.navbar-green .navbar-nav > li > a:hover,
.navbar-green .navbar-nav > li > a:focus {
    transition: all 0.3s;
    color: #fff;
    background-color: #196856;
}
.navbar-green .navbar-nav > .active > a,
.navbar-green .navbar-nav > .active > a:hover,
.navbar-green .navbar-nav > .active > a:focus {
    transition: all 0.3s ease;
    background-color: #196856; /*124171*/ /*01458D*/
}
.navbar-green .navbar-nav > .disabled > a,
.navbar-green .navbar-nav > .disabled > a:hover,
.navbar-green .navbar-nav > .disabled > a:focus {
    color: #ffffff;
    background-color: transparent;
}
.navbar-green .navbar-toggle:hover,
.navbar-green .navbar-toggle:focus {
    transition: all 0.3s;
    background-color: #196856; /*002d5b*/
}
.navbar-green .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-green .navbar-collapse,
.navbar-green .navbar-form {
    border-color: #fff;
}
.navbar-green .navbar-nav > .open > a,
.navbar-green .navbar-nav > .open > a:hover,
.navbar-greenss .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #196856;
}

.navbar-brand {
    float: none;
    font-weight: bold;
}

.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    height:100%;
}


.content-img {
    width: 80%;
    height: auto;
    -webkit-box-shadow: 0 12px 18px rgba(0, 0, 0, .175);
            box-shadow: 0 12px 18px rgba(0, 0, 0, .175);
}

.navbar-fixed-top {
    left:230px;
    -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
}

@media (max-width: 767px) { 
    .content-img {
        width: 100%;
        height: auto;
    }
    .navbar-fixed-top {
        left:50px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
}

.main-body {
    padding-top:60px;
}

.breadcrumb {
    background-color: #fefefe;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, .175);
            box-shadow: 0 4px 8px rgba(0, 0, 0, .175);
}

.btn {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn-circle {
    height:40px;
    width:40px;
    border-radius:50%;
}

.btn-circle span {
    padding-top:4px;
}